*
{
    margin: 0%;
    box-sizing: border-box;
}

.sfondo
{
    /* background-color: cornflowerblue; */
    background-image: url("pattern.png");
    background-color: cornflowerblue;
    height: 20vh;
}

.logo
{
    width: 20%;
    height: auto;
    margin-left: 20%;
    padding-top: 10vh;
}


.centra , .contenitore
{
    left: 50%;
    transform: translate(-50%, 0%);
  }
  
  .contenitore
  {
    width: 60%;
    position: absolute;
  }

  .row , .row1 , .row2 
  {
    position: relative;
    float: left;
    width: 31%;
    height: 8vh;
    line-height: 8vh;
}

.row1b , .row2b
{
  position: relative;
  float: left;
  width: 31%;
  height: 8vh;
}
  /* riga fr animali */
  
  .row1 , .row1b
  {
    background-color: lightcyan;
  }

  .row2 , .row2b
  {
      background-color: white;
  }
  
   .row-titolo
  {
      position: relative;
      float: left;
      width: 31%;
      background-color:lightskyblue;
  }

  .row , .row3
  {
    position: relative;
    float: left;
    width: 98%;
    margin-top: 5%;
  }